    <header class="topbar">
      <a class="logo-wrap" href="#">
        <img src="../assets/img/logo.png" width="60" alt="" style="margin-left: 5px;">
        <span class="logo-name">MEDCORE</span>
      </a>
      <div class="topbar-right">
        <button class="lang-btn" onclick="toggleLang()" id="langBtn">🌐 <span data-langId="langBtn">العربية</span></button>
        <div class="icon-btn"><svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#6b7c93"
            stroke-width="2">
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
            <path d="M13.73 21a2 2 0 0 1-3.46 0" />
          </svg><span class="notif-dot"></span></div>
        <div class="avatar">DR</div>
      </div>
    </header>
